# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

/build/*

/server/encryption/*
/server/config/config.json
/server/uploads/tasks/*
!/server/uploads/tasks/.gitkeep

/public/.well-known/*
